node_modules
.next
out
build
dist
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.db
*.db-journal
*.db-shm
*.db-wal
Dockerfile
.dockerignore
README.md
LICENSE
